// Color Variables

$color-primary-dark: #4d96a9;
$color-primary-light: #8fe3f9;
$color-primary-hover: #71c0d4;

$color-secondary-dark: #855fb1;
$color-secondary-light: #d9b8ff;
$color-secondary-hover: #d9b8ff;

$color-dark: #28283d;
$color-gray: #87879d;
$color-light: #fafafa;
$color--white: #ffffff;
