@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.8rem;
  //   background-color: $color-primary-dark;
  padding: 5rem;
}
